@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.Layout {
  text-align: center;

  .Logo {
    height: em(120px);
    margin-right: auto;
    margin-bottom: em(80px);
    margin-left: auto;
  }

  .Text {
    color: $color-secondary;
    font-family: $font-primary;
    font-size: em(22px);
    font-weight: 500;
    margin-bottom: em(15px, 22px);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
