@import "../../sass/variables.scss";
@import "../../sass/functions.scss";

.SavedVideo {
  background-color: white;
  padding: em(20px);
  text-align: center;

  .Video {
    display: block;
    margin-bottom: em(20px);
    width: 100%;

    @media (min-width: 720px) {
      height: em(440px);
      margin-right: auto;
      margin-left: auto;
      max-width: em(780px);
    }
  }

  .Button {
    display: block;
    width: 100%;

    @media (min-width: $small) {
      display: inline-block;
      width: auto;
    }

    &:not(:last-of-type) {
      margin-bottom: em(20px, 14px);

      @media (min-width: $small) {
        margin-right: em(10px, 14px);
        margin-bottom: 0;
      }
    }
  }
}
