@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.Galeria {

  @media (max-width: 991px) {
    min-height: 980px !important;
  }

  :global(.slick-list),
  :global(.slick-track),
  :global(.slick-slide),
  :global(.slick-slide > div),
  .Item {
    height: 100%;
  }

  :global(.slick-dots) {
    display: flex !important;
    justify-content: center;
    bottom: 0;
    padding-bottom: em(20px);
  }

  :global(.slick-dots li) {
    height: 5px;
    width: 40px;
  }

  :global(.slick-dots li button) {
    background-color: white;
    border-radius: 5px;
    height: 5px;
    padding: 0;
    width: 40px;

    &::before {
      content: normal;
    }
  }

  :global(.slick-dots li.slick-active button) {
    background-color: $color-primary;
  }

  .Container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;

    &::before {
      background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.8) 0%,rgba(0, 0, 0, 0.2) 100%);
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }

  .Body {
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .Title {
    color: white;
    font-family: $font-secondary;
    font-size: em(52px);
    font-weight: 700;
    margin-bottom: em(24px, 52px);
    text-align: center;

    @media (min-width: 992px) {
      text-align: left;
    }
  }

  .Content {
    margin-bottom: em(32px);

    @media (min-width: 992px) {
      display: flex;
    }
  }

  .Description {
    margin-bottom: em(32px);

    @media (min-width: 992px) {
      flex: 0 0 50%;
      padding-right: em(30px);
      width: 50%;
    }
  }

  .Paragraph {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .Video {
    position: relative;

    @media (min-width: 992px) {
      flex: 0 0 50%;
      padding-left: em(30px);
      width: 50%;
    }

    .Loading {
      background-color: white;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .YouTube {
      display: block;
      width: 100%;
      height: 232px;
    }
  }

  .Link {

    @media (min-width: 992px) {
      display: table;
      margin-left: 0;
      margin-right: auto;
    }
  }
}
