@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.DragAndDrop {
  color: #C7D2DC;
  background-color: white;
  border: 1px dashed #C7D2DC;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-primary;
  font-size: em(14px);
  font-weight: 600;
  height: em(98px, 14px);
  text-align: center;

  &.isActive {
    color: $color-secondary;
    border-color: $color-secondary;
  }

  &.isDisabled {
    cursor: not-allowed;
  }

  &.isInvalid {
    color: $color-danger;
    border-color: $color-danger;
  }
}
