$color-secondary: #354755;

.CreditCard {
  margin-bottom: 1.25em;

  .Accordion {

    .Card {
      border: 0;
      border-radius: 0;

      :global(.collapse),
      :global(.collapsing) {
        order: 2;
      }

      :global(.collapse.show),
      :global(.collapsing) {
        & + .Header {
          background-color: $color-secondary;
          color: white;
        }
      }

      .Header {
        background-color: #6B8AA3;
        border-radius: 0.222em;
        color: white;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.125em;
        font-style: italic;
        font-weight: 700;
        padding: 0.778em 1.111em;
        text-align: center;
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

        &:hover {
          background-color: darken(#6B8AA3, 5%);
          border-color: darken(#6B8AA3, 5%);
        }
      }

      .Body {
        padding-top: 2.5em;
      }
    }
  }

  .Form {

    .Label {
      color: $color-secondary;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.875em;
      font-weight: 600;
      margin-bottom: 0.714em;
    }

    .Control {
      border-color: $color-secondary;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.875em;
      padding: 1.357em 1.429em;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba($color-secondary, 0.5) !important;
      }
    }

    .Feedback {
      display: block;
    }
  }
}
