@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

$color-primary: #BF9456;
$color-secondary: #354755;
$color-danger: #dc3545;

.Register {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;

  @media (min-width: $large) {
    display: flex;
  }

  .Left {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 2.5em;
    max-width: 33.750em;

    @media (min-width: $large) {
      flex: 0 0 25em;
      width: 25em;
    }

    .Content {
      height: 100%;
    }

    .Logo {
      color: $color-secondary;
      display: block;
      margin-bottom: 2.5em;
      text-decoration: none;

      .Image {
        display: block;
        height: 4.375em;
        margin-right: auto;
        margin-left: auto;
      }
    }

    .Title {
      color: $color-primary;
      font-size: 1em;
      font-weight: 600;
      letter-spacing: 0.25em;
      margin-bottom: 1em;
      text-align: center;
      text-transform: uppercase;
    }

    .Subtitle {
      color: $color-primary;
      font-size: em(22px);
      letter-spacing: 0.25em;
      margin-top: em(40px, 24px);
      margin-bottom: em(20px, 24px);
      text-align: center;
      text-transform: uppercase;
    }

    .Paragraph {
      color: $color-secondary;
      font-size: 0.875em;
      margin-bottom: 0;
      text-align: center;

      &:not(:last-of-type) {
        margin-bottom: 1.429em;
      }
    }

    .Form {
      margin-top: 2.5em;
      margin-bottom: 5em;

      .Group {
        margin-bottom: 1.25em;

        .Label {
          color: $color-secondary;
          font-size: 0.875em;
          font-weight: 600;

          &.Password {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }

        .Text {
          font-size: 0.625em;
          font-weight: 600;

          &.Top {
            margin-top: -0.8em;
            margin-bottom: 0.8em;
          }

          &.Bottom {
            margin-top: 0.8em;
            text-transform: uppercase;

            span:not(:first-child) {
              margin-left: 1em;
            }
          }
        }

        .Control {
          color: $color-secondary;
          border-color: $color-secondary;
          border-radius: 0;
          font-size: 0.875em;

          &:not(select) {
            padding-top: 1.357em;
            padding-bottom: 1.357em;
          }

          &:focus {
            border-color: lighten($color-secondary, 25%);
            box-shadow: 0 0 0 0.2rem rgba($color-secondary, 0.5);
          }

          &:global(.is-invalid) {
            border-color: $color-danger;

            &:focus {
              box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
            }
          }
        }

        select.Control {
          height: em(40px, 14px);
        }
      }

      .Check {
        font-size: 0.75em;
        text-transform: uppercase;
        min-height: 1em;

        &:not(:last-child) {
          margin-bottom: 0.667em;
        }

        :global(input:checked) ~ :global(label) {
          &::before {
            background-color: $color-primary;
            border-color: $color-primary;
          }
        }

        :global(input:focus) ~ :global(label) {
          &::before {
            border-color: lighten($color-primary, 12%);
            box-shadow: 0 0 0 0.2rem rgba($color-primary, 0.25);
          }
        }

        :global(label) {
          &::before,
          &::after {
            top: 0.1em;
          }
        }

        :global(input.is-invalid) ~ :global(label span) {
          color: $color-danger;
        }

        :global(input:focus.is-invalid) ~ :global(label) {
          &::before {
            border-color: lighten($color-danger, 12%);
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
          }
        }
      }

      .Link {
        color: $color-primary;
      }

      .Button {
        margin-top: 0.857em;
      }
    }

    .PasswordReset {
      color: $color-primary;
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 600;
      margin-top: 40px;
      transition: color 0.15s ease-in-out;

      &:hover {
        color: darken($color-primary, 12%);
        text-decoration: none;
      }
    }

    .Copyright {
      color: $color-secondary;
      font-size: 0.75em;

      a {
        color: $color-primary;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  .Right {
    display: none;
    background-color: $color-primary;
    background-image: url('../../../assets/images/register-transparent.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 992px) {
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .Content {
      display: table;
      margin-right: auto;
      margin-left: auto;
      padding: em(60px);
      position: sticky;
      top: 0;

      @media (min-width: 1280px) {
        max-width: 950px;
      }

      .Title {
        color: white;
        font-family: 'Playfair Display', serif;
        font-size: 3.25em;
        font-weight: 700;
        margin-bottom: 0.577em;

        &.Center {
          text-align: center;
        }
      }

      .Paragraph {
        color: white;
        font-size: em(18px);
        margin-bottom: 0;
        text-align: justify;

        &:not(:last-of-type) {
          margin-bottom: em(20px, 18px);
        }

        .Link {
          color: $color-secondary;
          font-weight: 500;
        }
      }

      .List {
        margin-bottom: 0;
        padding-left: em(20px);

        .Item {
          color: white;
          font-size: em(18px);
          text-align: justify;

          &:not(:last-of-type) {
            margin-bottom: em(20px, 18px);
          }
        }
      }
    }
  }
}
