$color-secondary: #354755;

.Responsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  &.Sub {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .FormTable {
    border: 1px solid #C7D2DC;
    width: 100%;

    thead tr th,
    tbody tr td {
      color: $color-secondary;
      border: 1px solid #C7D2DC;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.875em;
      padding: 9px;
      text-align: center;
    }

    thead {

      tr {

        th {
          background-color: #DDDDDD;
          font-weight: 600;
        }
      }
    }

    tbody {

      tr {

        td {
          background-color: white;
          font-weight: 400;

          h6 {
            font-size: 1em;
            font-weight: 700;
            text-align: left;
            margin-bottom: 2px;
            text-transform: uppercase;
          }

          ul {
            display: table;
            list-style-type: none;
            margin-bottom: 0;
            padding-left: 0;
            text-align: left;

            li {
              display: table-row;

              strong {
                display: table-cell;
                font-weight: 600;
                padding-right: 9px;
              }
            }
          }
        }
      }
    }

    &.Sub {

      thead tr {
        &:first-child th {
          text-transform: uppercase;
        }

        th {
          background-color: lighten(#DDDDDD, 10%);
          font-size: 1em;
        }
      }

      tbody tr td {
        font-size: 1em;
      }
    }
  }
}

