@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.AudioDownloader {
  background-color: white;
  border: 1px solid #C7D2DC;
  border-radius: em(5px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: em(20px);

  @media (min-width: $large) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .Audio {
    display: block;
    margin-bottom: em(20px);
    flex: 0 0 100%;
    height: em(45px);
    width: 100%;

    @media (min-width: $large) {
      flex-basis: 0;
      flex-grow: 1;
      margin-right: em(10px);
      margin-bottom: 0;
      max-width: 100%;
      min-width: 0;
    }
  }

  .Downloader {
    margin-bottom: em(20px);

    @media (min-width: $large) {
      flex: 0 0 auto;
      margin-bottom: 0;
      max-width: 100%;
      width: auto;
    }
  }

  .Remove {

    @media (min-width: $large) {
      flex: 0 0 auto;
      margin-left: em(10px);
      max-width: 100%;
      width: auto;
    }
  }
}
