@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.EstatusPruebaVidaUsuario {
  color: $color-secondary;
  display: flex;
  align-items: center;
  font-size: em(16px);
  font-weight: 600;

  &.Success,
  &.Warning,
  &.Danger {

    .Icon {
      border-radius: em(24px);
      fill: white;
      margin-right: em(5px);
      padding: em(6px);
      width: em(24px);
    }
  }

  &.Success .Icon {
    background-color: $color-success;
  }

  &.Danger .Icon {
    background-color: $color-danger;
  }

  &.Warning .Icon {
    background-color: $color-warning;
  }
}
