@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.Loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;

  .Logo {
    height: em(140px);
    margin-bottom: em(40px);
  }

  .Title {
    color: $color-primary;
    font-family: $font-secondary;
    font-size: em(22px);
    font-weight: 700;
    margin-bottom: 0;

    .Dot {
      animation-name: blink;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;

      &:nth-child(2) {
        animation-delay: .2s;
      }

      &:nth-child(3) {
        animation-delay: .4s;
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}
