@import 'variables.scss';
@import 'functions.scss';

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.position-absolute.top {
  top: 0;
}

.position-absolute.center {
  left: 50%;
  transform: translateX(-50%);
}

@import 'components/button';
@import 'components/dropdown';

@import 'helpers/placeholders';
