$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Playfair Display', serif;
$font-size-default: 16px;

$color-primary: #BF9456;
$color-secondary: #354755;
$color-success: #28a745;
$color-danger: #DC3545;
$color-warning: #FFC107;

$small: 576px;
$medium: 768px;
$large: 992px;
