@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.Message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  .Highlight {
    color: $color-secondary;
  }

  .Header {
    background-color: $color-primary;
    padding: em(15px);
    height: em(100px);

    .Content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: auto;
      margin-left: auto;
      max-width: em(960px);

      .Logo {
        height: em(70px);
      }

      .Title {
        color: white;
        font-family: $font-primary;
        font-size: em(16px);
        font-weight: 700;
        text-align: right;
      }
    }
  }

  .Body {
    flex: 1 0 auto;
    margin-right: auto;
    margin-left: auto;
    max-width: em(960px);
    padding: em(80px) em(15px);

    .Logo {
      height: em(120px);
      margin-right: auto;
      margin-bottom: em(70px);
      margin-left: auto;
    }

    .Content {
      color: $color-secondary;
      font-family: $font-primary;
      font-size: em(22px);
      font-weight: 500;
      margin-bottom: em(70px, 22px);
      text-align: center;
    }
  }

  .Footer {
    flex-shrink: 0;

    .Contact {
      background-color: #F7F6F3;
      padding: em(80px) em(15px);
      text-align: center;

      .Text {
        color: $color-secondary;
        font-family: $font-primary;
        font-size: em(16px);
        font-weight: 500;

        &.Large {
          font-size: em(18px);
          font-style: italic;
        }
      }
    }

    .Copyright {
      background-color: $color-secondary;
      color: white;
      font-family: $font-primary;
      font-size: em(14px);
      font-weight: 500;
      padding: em(20px, 14px) em(15px, 14px);
      text-align: center;
    }
  }
}
