@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.Header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0.938em;
  padding-bottom: 0.938em;

  .LogoContainer {
    flex: 0 0 50%;
    order: 1;
    width: 50%;

    @media (min-width: 992px) {
      display: inline-flex;
      flex: 1;
      justify-content: flex-start;
      margin-right: auto;
    }
  }

  .TitleContainer {
    flex: 0 0 100%;
    order: 3;
    margin-top: 3.438em;
    width: 100%;

    @media (min-width: 992px) {
      display: inline-flex;
      flex: 1;
      justify-content: center;
      order: 2;
      margin-top: 0;
      padding-right: 15px;
      padding-left: 15px;
    }

    .Title {
      font-size: 2.5em;

      @media (min-width: 1080px) {
        white-space: nowrap;
      }
    }
  }

  .UserContainer {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 50%;
    order: 2;
    width: 50%;

    @media (min-width: 992px) {
      display: inline-flex;
      flex: 1;
      order: 3;
      margin-left: auto;
    }

    .IconBell {
      margin-right: 0.625em;
    }
  }
}

.Body {
  margin-top: 2.5em;
  margin-bottom: 5em;

  .Introduction {
    margin-bottom: 3.125em;

    .Paragraph {
      color: $color-secondary;
      font-family: $font-primary;
      font-size: 1.25em;
      margin-bottom: 0;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 1em;
      }

      &.Primary {
        color: $color-primary;

        .Link {
          color: $color-primary;
        }
      }

      .Link {
        font-weight: 700;
      }
    }
  }

  .Item {
    background-color: $color-primary;
    border: 1px solid transparent;
    border-radius: 1.563em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    font-family: $font-primary;
    height: calc(100% - 40px);
    margin-bottom: em(40px);
    padding: em(28px) em(40px);
    position: relative;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

    &:hover {
      color: #FFFFFF;
      background-color: darken($color-primary, 5%);
      border-color: darken($color-primary, 5%);
      text-decoration: none;
    }

    &:active,
    &:focus {
      background-color: darken($color-primary, 10%) !important;
      border-color: darken($color-primary, 10%) !important;
    }

    &.Disabled {
      cursor: default;
      border: 1px solid $color-primary !important;
      background-color: $color-primary !important;
      pointer-events: none;
    }

    &.Free {
      background-color: $color-secondary;

      &:hover {
        color: #FFFFFF;
        background-color: darken($color-secondary, 5%);
        border-color: darken($color-secondary, 5%);
        text-decoration: none;
      }

      &:active,
      &:focus {
        background-color: darken($color-secondary, 10%) !important;
        border-color: darken($color-secondary, 10%) !important;
      }
    }

    &.Left {

      @media (min-width: 768px) {
        margin-right: 1.563em;
      }
    }

    &.Right {

      @media (min-width: 768px) {
        margin-left: 1.563em;
      }
    }

    &.Center {

      @media (min-width: 768px) {
        margin-right: 0.781em;
        margin-left: 0.781em;
      }
    }

    .Indicator {
      display: flex;
      align-items: center;
      font-size: em(12px);
      position: absolute;
      top: em(10px, 12px);
      right: em(20px, 12px);

      &.Uppercase {
        text-transform: uppercase;
      }

      .Icon {
        fill: #FFFFFF;
        margin-right: em(5px, 12px);
      }
    }

    > .Icon {
      fill: #FFFFFF;
      flex: 0 0 80px;
      margin-right: 1.25em;
    }

    .Paragraph {
      font-size: 1.25em;
      margin: 0;
    }
  }
}
