@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.Loading {
  position: absolute;
  top: 0;
  left: 0;

  .Poster {
    display: block;
    width: 100%;
  }

  .Spinner {
    border-top-color: $color-primary;
    border-bottom-color: $color-primary;
    border-left-color: $color-primary;
    margin-top: -14px;
    margin-left: -14px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
