@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.Container {
  background-color: $color-secondary;
}

.Copyright {
  color: $color-primary;
  font-family: $font-primary;
  font-size: em(14px);
  padding-top: 1.429em;
  padding-bottom: 1.429em;
  text-align: center;

  > .Link {
    color: $color-primary;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: darken($color-primary, 5%);
    }
  }

  .SocialNetwork {
    border-bottom: 1px solid $color-primary;
    display: flex;
    justify-content: center;
    margin-bottom: em(20px, 14px);
    padding-bottom: em(20px, 14px);

    .Link {
      color: $color-primary;
      display: flex;
      align-items: center;
      font-family: $font-primary;
      text-decoration: none;

      &:not(:last-child) {
        margin-right: em(20px, 14px);
      }

      &:hover {
        fill: darken($color-primary, 5%);

        .Icon {
          fill: darken($color-primary, 5%);
        }
      }

      .Icon {
        fill: $color-primary;
        margin-right: em(5px, 14px);
      }
    }
  }
}
