@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.File {
  background-color: #FFFFFF;
  border: 1px solid #C7D2DC;
  border-radius: em(5px);
  padding: em(20px);

  @media (min-width: $medium) {
    display: flex;
    align-items: center;
    height: em(60px);
    padding-top: 0;
    padding-bottom: 0;
  }

  .Name {
    color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1;
    font-family: $font-primary;
    font-size: em(14px);
    font-weight: 400;
    line-height: em(14px);
    margin-bottom: em(20px);
    min-width: 0;
    max-width: 100%;

    @media (min-width: $medium) {
      justify-content: flex-start;
      margin-bottom: 0;
      padding-right: em(10px, 14px);
    }

    .Icon {
      fill: $color-primary;
      flex: 0 0 em(20px, 14px);
      margin-right: em(10px, 14px);
    }
  }

  .Button {
    display: block;
    width: 100%;

    @media (min-width: $medium) {
      display: inline-block;
      width: auto;
    }

    &.Download {
      margin-bottom: em(10px);

      @media (min-width: $medium) {
        margin-right: em(10px);
        margin-bottom: 0;
      }
    }
  }
}
