$color-secondary: #354755;

textarea.FormControl {
  height: auto;
  padding-top: 0.786em;
  padding-bottom: 0.786em;
}

.FormControl {
  border: 1px solid #C7D2DC;
  border-radius: 0.357em;
  color: $color-secondary;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  height: 2.857em;
  outline: none;
  padding-right: 1.071em;
  padding-left: 1.071em;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;

  &:disabled {
    background-color: #e9ecef !important;
  }

  &:focus {
    border-color: lighten($color-secondary, 25%);
    box-shadow: 0 0 0 0.2rem rgba($color-secondary, 0.5);
  }
}
