$color-secondary: #354755;
$color-grey: #C7D2DC;

.FormFile {
  color: $color-grey;
  background-color: white;
  border: 1px dashed $color-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  height: 7.143em;

  &.DragIn {
    color: $color-secondary;
    border-color: $color-secondary;
  }

  &.isDisabled {
    cursor: not-allowed;
  }
}
