$color-secondary: #354755;

.FormSwitch {
  display: flex;
  align-items: center;

  .Text {
    color: $color-secondary;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875em;
    font-weight: 600;

    &.Left {
      margin-right: 0.714em;
    }

    &.Right {
      margin-left: 0.714em;
    }
  }

  input {
    opacity: 0;
    height: 0;
    width: 0;

    &:disabled ~ label {
      cursor: default;
    }

    &:checked ~ label {
      background-color: $color-secondary;

      &::before {
        left: 2em;
      }
    }
  }

  label {
    background-color: #DDDDDD;
    border-radius: 1.875em;
    cursor: pointer;
    display: block;
    height: 1.875em;
    margin-bottom: 0;
    position: relative;
    transition: background-color 0.15s ease-in-out;
    width: 3.750em;

    &::before {
      background-color: white;
      border-radius: 50%;
      content: "";
      display: block;
      position: absolute;
      top: 0.188em;
      left: 0.188em;
      height: 1.5em;
      transition: left 0.15s ease-in-out;
      width: 1.5em;
    }
  }
}
