@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.Headband {
  background-color: $color-primary;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-primary;
  font-size: em(14px);
  padding: em(20px, 14px) em(15px, 14px);

  .Button {

    &.Right {
      margin-left: em(20px, 14px);
    }
  }
}
