.FormColumn {
  flex: 0 0 100%;
  max-width: 100%;

  &:not(:last-child) {
    margin-bottom: 1.25em;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &.Left,
  &.Right,
  &.Center {

    @media (min-width: 768px) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  }

  &.Left,
  &.Right {

    &.Strict {

      @media (min-width: 768px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }

  &.Left {

    @media (min-width: 768px) {
      padding-right: 2.375em;
    }
  }

  &.Right {

    @media (min-width: 768px) {
      padding-left: 2.375em;
    }
  }

  &.Center {
    @media (min-width: 768px) {
      padding-right: 2.375em;
      padding-left: 2.375em;
    }
  }

  &.Auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}
