@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.Layout {
  text-align: center;

  .Title {
    color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-primary;
    font-size: em(40px);
    font-weight: 700;
    margin-bottom: em(80px, 40px);

    .Logo {
      height: 70px;
      margin-left: em(10px, 40px);
    }
  }

  .Text {
    color: $color-secondary;
    font-family: $font-primary;
    font-size: em(22px);
    font-weight: 500;
    margin-bottom: em(15px, 22px);

    &:last-of-type {
      margin-bottom: em(40px, 22px);
    }
  }

  .Positive,
  .Negative {
    padding-right: em(50px, 14px);
    padding-left: em(50px, 14px);
  }

  .Positive {
    margin-right: em(30px, 14px);
  }
}
