$color-primary: #BF9456;
$color-secondary: #354755;

.Accordion {

  @media (max-width: 991px) {
    margin-bottom: 5em;
  }

  .Card {
    border: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    flex-wrap: wrap;
    margin-bottom: 1.250em;

    &:last-child {
      margin-bottom: 0;
    }

    :global(.collapse),
    :global(.collapsing) {
      order: 2;
    }

    :global(.collapse.show),
    :global(.collapsing) {
      & + .Header {
        background-color: $color-primary;
        background-image: url('../../../assets/icons/ver-menos-white.png');
        color: white;
      }
    }

    .Header {
      cursor: pointer;
      background-color: white;
      background-image: url('../../../assets/icons/ver-mas-blue.png');
      background-position: center right 20px;
      background-repeat: no-repeat;
      border-bottom: 0;
      color: $color-secondary;
      flex-basis: 100%;
      font-family: 'Playfair Display', serif;
      font-size: 1.250em;
      font-weight: 700;
      order: 1;
      padding-top: 0.750em;
      padding-right: 2.750em;
      padding-bottom: 0.750em;
      padding-left: 1em;
      transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
      width: 100%;
    }

    .Body {
      color: $color-secondary;
      font-family: 'Montserrat', sans-serif;
    }
  }
}

.Title {
  color: $color-secondary;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  margin-bottom: 0.625em;
}

.Form {
  margin-bottom: 40px;

  .Quote {
    color: $color-secondary;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2.500em;
  }

  .Group {
    margin-bottom: 1.250em;
  }

  .Label,
  .Control {
    color: $color-secondary;
    font-family: 'Montserrat', sans-serif;
  }

  .Label {
    margin-bottom: 0.625em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .Control {
    background-color: white;
    border-radius: 0;
    padding-top: 1.500em;
    padding-bottom: 1.500em;

    &:not(:global(.is-invalid)) {
      border-color: white;
    }

    &:focus:not(:global(.is-invalid)) {
      border-color: lighten($color-secondary, 25%);
      box-shadow: 0 0 0 0.2rem rgba($color-secondary, 0.5) !important;
    }
  }
}

.Badges {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .Badge {
    display: block;
    margin-bottom: 20px;

    &:not(:last-child) {
      @media (min-width: 768px) {
        margin-right: 20px;
      }
    }

    img {
      display: block;
      width: 230px;

      @media (min-width: 768px) {
        height: 80px;
        width: auto;
      }
    }
  }
}
