@import '../../../../sass/variables.scss';
@import '../../../../sass/functions.scss';

.Table {

  .Header,
  .Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Header {
    padding-bottom: em(20px);

    .PageSize {
      color: $color-secondary;
      font-family: $font-primary;
      font-size: em(14px);

      select {
        border: 1px solid #C7D2DC;
        border-radius: em(5px, 14px);
        margin-right: em(10px, 14px);
        margin-left: em(10px, 14px);
        outline: none;

        &:focus {
          border-color: lighten($color-secondary, 25%);
          box-shadow: 0 0 0 0.2rem rgba($color-secondary, 0.5);
        }
      }
    }
  }

  .Footer {
    padding-top: em(20px);

    .Info {
      color: $color-secondary;
      font-family: $font-primary;
      font-size: em(14px);
    }

    .Pagination {
      display: flex;
      align-items: center;

      .Button {
        border: 1px solid #C7D2DC;
        border-radius: em(4px);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: em(28px);
        outline: none;
        padding: 0;
        width: em(28px);

        &:disabled {
          cursor: default;
          opacity: 0.5;
        }

        &:focus {
          border-color: lighten($color-secondary, 25%);
          box-shadow: 0 0 0 0.2rem rgba($color-secondary, 0.5);
        }

        &:nth-child(1),
        &:nth-child(4) {

          .Icon {
            margin-right: em(-2px);
            margin-left: em(-2px);
          }
        }

        &:not(:last-child) {
          margin-right: em(10px);
        }

        .Icon {
          fill: $color-secondary;
          flex: 0 0 em(10px);
        }
      }
    }
  }
}
