@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.User {
  flex: 0 0 0;
  display: flex;
  align-items: center;

  .Notifications,
  .Info {
    position: relative;

    &:hover .Menu {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.25s linear;
    }

    .Icon {
      cursor: pointer;
    }

    .Menu {
      background-color: transparent;
      opacity: 0;
      position: absolute;
      right: 0;
      transition: opacity 0.25s linear, visibility 0.25s linear;
      visibility: hidden;
      z-index: 9;

      .Content {
        border-top: 5px solid $color-secondary;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: white;
        margin-top: 12px;
        padding: 1.25em;
        position: relative;
        text-align: center;
        white-space: nowrap;

        &::before {
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
          border-bottom: 8px solid $color-secondary;
          content: '';
          height: 0;
          position: absolute;
          top: -11px;
          width: 0;
        }
      }
    }
  }

  .Info {

    .Circle {
      border: 1px solid $color-secondary;
      border-radius: 100%;
      padding: em(4px);
    }

    .Menu .Content {

      &::before {
        right: 11px;
      }

      .FullName,
      .Email,
      .Plan {
        font-family: 'Montserrat', sans-serif;
      }

      .FullName,
      .Email,
      .Action {
        color: $color-secondary;
      }

      .FullName {
        font-size: em(18px);
        font-weight: 700;
      }

      .Email,
      .Plan {
        font-weight: 500;
      }

      .Plan {
        color: $color-primary;
        text-transform: uppercase;
      }

      .Separator {
        border-bottom: 1px solid #C7D2DC;
        margin-top: em(20px);
        margin-bottom: em(20px);
      }

      .Action {
        display: block;
        font-size: 0.875em;
        text-transform: uppercase;

        &:not(:last-of-type) {
          margin-bottom: 0.714em;
        }

        &:hover {
          color: $color-primary;
          text-decoration: none;
        }
      }
    }
  }

  .Notifications {
    margin-right: 0.625em;

    .Menu {
      width: em(280px);

      .Content::before {
        right: 4px;
      }
    }
  }
}
