@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.NotificationPruebaVida {
  .Title,
  .Text {
    color: $color-secondary;
    font-family: 'Montserrat', sans-serif;
  }

  .Title {
    font-size: em(18px);
    font-weight: 700;
    text-transform: uppercase;
  }

  .Text {
    font-size: em(16px);
    font-weight: 500;
    margin-bottom: em(20px);
    white-space: normal;

    .Highlight {
      color: $color-primary;
    }
  }
}
