@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.VideoPlayer {
  background-color: white;
  padding: em(20px);

  .Video {
    display: block;
    margin-bottom: em(20px);
    width: 100%;

    @media (min-width: $large) {
      height: em(440px);
      margin-right: auto;
      margin-left: auto;
      max-width: em(780px);
    }
  }

  .Remove {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
