@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.EstatusPruebaVidaUsuarioAndCustodio {
  border-radius: em(24px);
  fill: white;
  margin-right: em(5px);
  padding: em(6px);
  width: em(24px);

  &.Success {
    background-color: $color-success;
  }

  &.Danger {
    background-color: $color-danger;
  }

  &.Warning {
    background-color: $color-warning;
  }
}
