@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.Container {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;

  @media (min-width: $large) {
    width: calc(100% - #{em(260px)});
  }
}
