@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

$color-secondary: #354755;
$color-inactive: #6B8AA3;

.StepProgressBar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $large) {
    flex-direction: row;
    align-items: center;
  }

  .Step {
    background-color: $color-inactive;
    border: 5px solid $color-inactive;
    border-radius: 50em;
    color: white;
    cursor: pointer;
    font-size: em(14px);
    font-family: $font-primary;
    font-weight: 600;
    padding: 0.286em 1.571em;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: em(20px, 14px);
      position: relative;

      @media (min-width: $large) {
        margin-right: 3.571em;
        margin-bottom: 0;
      }

      &::after {
        background-color: $color-inactive;
        content: '';
        display: block;
        height: em(20px, 14px);
        margin-left: em(-2px, 14px);
        position: absolute;
        bottom: 0;
        left: 50%;
        width: em(4px);
        transform: translateY(calc(100% + 5px));

        @media (min-width: $large) {
          height: em(4px, 14px);
          margin-top: em(-2px);
          margin-left: auto;
          top: 50%;
          right: em(-58px, 14px);
          left: auto;
          width: em(56px, 14px);
          transform: none;
        }
      }
    }

    &.isActive {
      background-color: $color-secondary;
    }
  }
}
