@import "../../../sass/variables.scss";
@import "../../../sass/functions.scss";

.Form {
  margin-bottom: em(9px);

  .Button {
    background-color: #6B8AA3 !important;
    border-radius: em(4px, 18px) !important;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: em(18px);
    font-style: italic;
    font-weight: 700;
    padding: em(9px, 18px) em(20px, 18px);
    text-align: center;
    text-transform: none !important;
    width: 100%;

    &:hover {
      background-color: darken(#6B8AA3, 5%) !important;
      border-color: darken(#6B8AA3, 5%) !important;
    }

    .Icon {
      vertical-align: middle;
    }
  }
}
