@import '../../../../sass/variables.scss';
@import '../../../../sass/functions.scss';

.FormCheckbox {
  position: relative;
  padding-left: em(26px);

  input {
    opacity: 0;
    height: 0;
    width: 0;

    &:checked ~ label {

      &::before {
        border: 1px solid $color-secondary;
      }

      &::after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg height='10' width='10' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23354755' d='m504.5 75.496c-9.997-9.998-26.205-9.998-36.204 0l-306.7 306.71-117.89-117.89c-9.997-9.998-26.205-9.997-36.204 0-9.998 9.997-9.998 26.205 0 36.203l135.99 135.99c9.994 9.997 26.214 9.99 36.204 0l324.81-324.81c9.998-9.997 9.997-26.206 0-36.204z' /%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &:focus ~ label::before {
      border-color: lighten($color-secondary, 25%);
      box-shadow: 0 0 0 0.2rem rgba($color-secondary, 0.5);
    }
  }

  label {
    color: $color-secondary;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: em(14px);
    font-weight: 600;
    margin-bottom: 0;
    position: relative;

    &::before,
    &::after {
      border-radius: em(16px, 14px);
      content: "";
      display: block;
      height: em(16px, 14px);
      position: absolute;
      top: em(2px, 14px);
      left: em(-25px, 14px);
      width: em(16px, 14px);
    }

    &::before {
      border: 1px solid #C7D2DC;
    }
  }

  &.Inline {
    display: inline-block;

    &:not(:last-child) {
      margin-right: em(20px);
    }
  }
}
