@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.NotificationsLoader {
  color: $color-secondary;
  font-family: 'Montserrat', sans-serif;
  font-size: em(14px);
  font-weight: 500;
  text-align: center;
}
