@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.Layout {
  min-height: 100vh;

  @media (min-width: 960px) {
    display: flex;
  }

  .Legend {
    font-weight: 700;
    margin-bottom: em(20px, 14px);
    text-align: right;
  }
}
