$color-secondary: #354755;

.FormLabel {
  color: $color-secondary;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  margin-bottom: 0.714em;

  &.Center {
    text-align: center;
  }
}
