@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.Navigation {
  background-color: white;
  border-right: 1px solid #C7D2DC;
  position: fixed;
  top: 0;
  left: -16.25em;
  bottom: 0;
  transition: left 0.5s linear;
  width: em(260px);
  z-index: 9999;

  @media (min-width: $large) {
    flex: 0 0 em(260px);
    position: static;
  }

  &.isShow {
    left: 0;
  }

  .Container {
    overflow-y: auto;
    padding: 0.938em 1.875em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @media (min-width: $large) {
      position: static;
    }

    .Logo {
      width: 100%;
    }

    .Menu {
      margin-top: 2.813em;

      .Item {
        color: $color-primary;
        display: flex;
        align-items: center;
        font-size: 0.875em;
        font-weight: 600;
        transition: color 0.15s ease-in-out;

        &:not(:last-child) {
          margin-bottom: 1.429em;
        }

        &:hover {
          color: darken($color-primary, 15%);
          text-decoration: none;

          .Icon {
            fill: darken($color-primary, 15%);
          }
        }

        &.isActive {
          color: $color-secondary;

          .Icon {
            fill: $color-secondary;
          }
        }

        &.isDisabled {
          color: rgba($color-primary, 0.5) !important;
          pointer-events: none !important;

          .Icon {
            fill: rgba($color-primary, 0.5) !important;
          }
        }

        .Icon {
          fill: $color-primary;
          flex: 0 0 30px;
          margin-right: 1.429em;
          transition: fill 0.15s ease-in-out
        }
      }
    }
  }

  .Toggle {
    background-color: $color-primary;
    border-top: 1px solid #C7D2DC;
    border-right: 1px solid #C7D2DC;
    border-bottom: 1px solid #C7D2DC;
    border-left: 0;
    border-top-right-radius: 3.125em;
    border-bottom-right-radius: 3.125em;
    display: flex;
    align-items: center;
    height: 3.125em;
    outline: none;
    margin-top: -1.563em;
    padding: 0;
    position: absolute;
    top: 50%;
    right: -1.625em;
    width: 1.563em;

    @media (min-width: $large) {
      display: none;
    }

    .Icon {
      fill: #FFFFFF;
      margin-left: 0.188em;
    }
  }
}
