@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.SavedAudio {
  background-color: #FFFFFF;
  padding: em(20px);
  text-align: center;

  @media (min-width: $large) {
    display: flex;
    align-items: center;
    height: em(60px);
    padding-top: 0;
    padding-bottom: 0;
  }

  .Audio {
    display: block;
    height: em(40px);
    margin-bottom: (20px);
    outline: none;
    width: 100%;

    @media (min-width: $small) {
      margin-right: auto;
      margin-left: auto;
      width: em(380px);
    }

    @media (min-width: $large) {
      flex-basis: 0;
      flex-grow: 1;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      min-width: 0;
      max-width: 100%;
    }
  }

  .Button {
    display: block;
    width: 100%;

    @media (min-width: $small) {
      display: inline-block;
      width: auto;
    }

    &:not(:last-of-type) {
      margin-bottom: em(20px, 14px);

      @media (min-width: $small) {
        margin-right: em(10px, 14px);
        margin-bottom: 0;
      }

      @media (min-width: $large) {
        margin-left: em(20px, 14px);
      }
    }
  }
}
