@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.ImageSelected {
  background-color: white;
  border: 1px solid #C7D2DC;
  border-radius: em(5px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: em(20px);

  @media (min-width: $large) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .Image {
    display: flex;
    align-items: center;
    margin-right: em(10px);
    margin-bottom: em(20px);

    @media (min-width: $large) {
      margin-bottom: 0;
    }

    .Icon {
      fill: $color-primary;
      flex: 0 0 em(30px);
      margin-right: em(10px);
    }

    .Text {
      color: $color-secondary;
      font-family: $font-primary;
      font-size: em(14px);
      margin-right: em(10px, 14px);
    }
  }
}
