@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.EscrituraLibre {
  margin: em(40px) em(10px);
  max-width: em(960px);

  @media (min-width: 980px) {
    margin-right: auto;
    margin-left: auto;
  }

  .Quote {

    .Content {
      display: flex;
      align-items: flex-start;

      &::before,
      &::after {
        color: $color-primary;
        font-family: $font-secondary;
        font-size: em(80px);
        font-weight: 700;
      }

      &::before {
        content: '“';
        line-height: em(50px, 80px);
      }

      &::after {
        content: '”';
        align-self: flex-end;
        line-height: 0;
      }

      .Text {
        margin-right: em(20px);
        margin-left: em(20px);

        .Paragraph {
          color: $color-secondary;
          font-size: em(16px);
          font-weight: 400;
          margin-bottom: em(30px);
          text-align: center;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .Author {
      color: $color-primary;
      font-family: $font-secondary;
      font-size: em(20px);
      font-weight: 700;
      margin-top: em(20px, 20px);
      text-align: center;
    }
  }

  .Title {
    color: $color-secondary;
    font-family: $font-secondary;
    font-size: em(22px);
    font-weight: 700;
    margin-top: em(40px, 22px);
    margin-bottom: em(20px, 22px);
    text-align: center;
  }
}
