@import "../../sass/variables.scss";
@import "../../sass/functions.scss";

.AudioRecorder {
  background-color: #FFFFFF;
  padding: em(20px);
  text-align: center;

  @media (min-width: $large) {
    display: flex;
    align-items: center;
    height: em(60px);
    padding-top: 0;
    padding-bottom: 0;
  }

  .Info,
  .Error {
    color: $color-secondary;
    font-family: $font-primary;
    font-size: em(14px);
    line-height: 1em;
    margin-bottom: em(20px);

    @media (min-width: $large) {
      margin-bottom: 0;
      text-align: left;
    }

    .Icon {
      vertical-align: sub;
      width: em(18px, 14px);
    }
  }

  .Info {
    white-space: nowrap;

    .Icon {
      fill: $color-danger;
      animation: blinky 1s ease-in-out infinite;
    }
  }

  .Error {

    .Icon {
      fill: $color-primary;
    }
  }

  .Button {
    display: block;
    width: 100%;

    @media (min-width: $small) {
      display: inline-block;
      width: auto;
    }

    @media (min-width: $large) {
      margin-left: auto;
    }
  }
}

@keyframes blinky {
  0%   { opacity: 0; }
  49%  { opacity: 0; }
  59%  { opacity: 1; }
}
