@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.TogglePassword {
  color: $color-secondary;
  font-family: $font-primary;
  font-size: em(14px);
  white-space: nowrap;

  .Icon {
    cursor: pointer;
    fill: $color-primary;
  }
}
