@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.MiHistoria {
  background-color: #F7F6F3;
  padding: em(40px) em(10px);

  @media (min-width: 980px) {
    padding-right: 0;
    padding-left: 0;
  }

  .Card {
    margin-right: auto;
    margin-left: auto;
    max-width: em(960px);

    @media (min-width: $medium) {
      display: flex;
    }

    &:not(:last-child) {
      margin-bottom: em(40px);
    }

    .Header {
      background-color: $color-primary;
      box-shadow: -20px 20px 0px 0px rgba(224, 205, 175, 1);
      margin-bottom: em(20px);
      margin-left: em(20px);
      padding: em(30px);

      @media (min-width: $medium) {
        flex: 0 0 calc(50% - 35px);
        margin-right: em(15px);
        width: calc(50% - 35px);

        &.isOnly {
          flex: 0 0 calc(100% - 20px);
          margin-right: 0;
          width: calc(100% - 20px);
        }
      }

      .Title {
        color: white;
        font-family: $font-secondary;
        font-size: em(20px);
        font-weight: 700;
        margin-bottom: em(20px);
        text-align: center;

        &.isOnly {
          margin-bottom: 0;
        }
      }

      .Paragraph {
        color: white;
        font-family: $font-primary;
        font-size: em(16px);
        font-weight: 400;
        text-align: center;
      }
    }

    .Body {

      @media (min-width: $medium) {
        flex: 0 0 calc(50% - 15px);
        margin-left: em(15px);
        width: calc(50% - 15px);

        &.isOnly {
          flex: 0 0 100%;
          margin-left: 0;
          width: 100%;
        }
      }

      .Title {
        color: $color-secondary;
        font-family: $font-secondary;
        font-size: em(20px);
        font-weight: 700;
        margin-top: em(40px, 20px);
        margin-bottom: em(20px, 20px);
      }
    }
  }
}
