@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.Modal {

  :global(.modal-content) {
    border-radius: 0;
  }

  .Body {
    padding: 0;
    position: relative;

    .Close {
      background-color: $color-secondary;
      border: 0;
      border-radius: em(30px);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 em(26px);
      height: em(26px);
      position: absolute;
      top: em(8px);
      right: em(8px);
      transition: background-color 0.15s ease-in-out;
      width: em(26px);
      z-index: 1;

      &:hover {
        background-color: darken($color-secondary, 10%);
      }

      .Icon {
        fill: #FFFFFF;
      }
    }

    .YouTube {
      display: block;
      height: 450px;
      width: 100%;
    }
  }
}
