@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.Header {
  border-bottom: 1px solid #C7D2DC;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: em(15px) em(30px);

  .BackContainer {
    flex: 0 0 70%;
    order: 1;
    width: 70%;

    @media (min-width: $large) {
      flex: 1;
    }

    .Back {
      color: $color-primary;
      font-family: $font-primary;
      font-size: em(14px);
      font-weight: 500;
      transition: color 0.15s ease-in-out;

      &:hover {
        color: darken($color-primary, 15%);
        text-decoration: none;

        .Icon {
          fill: darken($color-primary, 15%);
        }
      }

      .Icon {
        fill: $color-primary;
        transition: fill 0.15s ease-in-out;
      }
    }
  }

  .TitleContainer {
    flex: 0 0 100%;
    order: 3;
    margin-top: em(20px);
    width: 100%;

    @media (min-width: $large) {
      flex: 1;
      order: 2;
      margin-top: 0;
    }
  }

  .UserContainer {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 30%;
    order: 2;
    width: 30%;

    @media (min-width: $large) {
      flex: 1;
      order: 3;
    }
  }
}
