@import '../../../../sass/variables.scss';
@import '../../../../sass/functions.scss';

.FormCategories {
  display: flex;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: em(10px);
    height: em(5px);
  }

  &::-webkit-scrollbar-thumb {
    background: #C7D2DC;
    border-radius: em(10px);
  }

  @media (min-width: $large) {
    justify-content: center;
    overflow-x: visible;
  }

  .Category {
    flex-shrink: 0;
    flex: 0 0 5.5em;
    width: 5.5em;

    &:not(:last-child) {
      margin-right: 1.25em;
    }

    input {
      display: none;
      height: 0;
      opacity: 0;
      width: 0;

      &:disabled ~ label {
        cursor: default;
        opacity: 0.65;

        .Circle {
          background-color: $color-primary !important;
          border-color: #D2B388 !important;

          .Icon {
            fill: #D2B388 !important;
          }
        }

        .Label {
          color: $color-primary !important;
        }
      }

      &:checked ~ label {

        .Circle {
          background-color: $color-secondary;
          border-color: #6B8AA3;

          .Icon {
            fill: #FFFFFF;
          }
        }

        .Label {
          color: $color-secondary;
        }
      }
    }

    label {
      cursor: pointer;
      margin-bottom: 0;

      .Circle {
        background-color: $color-primary;
        border: 5px solid #D2B388;
        border-radius: 5.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5.5em;
        position: relative;
        width: 5.5em;

        .Icon {
          fill: #D2B388;
        }
      }

      .Label {
        color: $color-primary;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.875em;
        font-weight: 600;
        margin-top: 0.714em;
        text-align: center;
      }
    }
  }
}
