.c-button {
  border-radius: 50rem;
  font-family: $font-primary;
  font-size: em(14px);
  font-weight: 600;
  padding: em(11px, 14px) em(25px, 14px);
  text-transform: uppercase;

  &--primary {
    background-color: $color-primary !important;
    border-color: $color-primary !important;

    &:hover {
      background-color: darken($color-primary, 5%) !important;
      border-color: darken($color-primary, 5%) !important;
    }

    &:active,
    &:focus {
      background-color: darken($color-primary, 10%) !important;
      border-color: darken($color-primary, 10%) !important;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($color-primary, 0.5) !important;
    }
  }

  &--secondary {
    background-color: $color-secondary !important;
    border-color: $color-secondary !important;

    &:hover {
      background-color: darken($color-secondary, 5%) !important;
      border-color: darken($color-secondary, 5%) !important;
    }

    &:active,
    &:focus {
      background-color: darken($color-secondary, 10%) !important;
      border-color: darken($color-secondary, 10%) !important;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($color-secondary, 0.5) !important;
    }
  }

  &--light {
    color: $color-primary !important;
    background-color: white !important;
    border-color: white !important;

    &:hover {
      background-color: darken(white, 5%) !important;
      border-color: darken(white, 5%) !important;
    }

    &:active,
    &:focus {
      background-color: darken(white, 10%) !important;
      border-color: darken(white, 10%) !important;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(darken(white, 5%), 0.5) !important;
    }
  }

  &--danger {
    background-color: $color-danger !important;
    border-color: $color-danger !important;

    &:hover {
      background-color: darken($color-danger, 5%) !important;
      border-color: darken($color-danger, 5%) !important;
    }

    &:active,
    &:focus {
      background-color: darken($color-danger, 10%) !important;
      border-color: darken($color-danger, 10%) !important;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($color-danger, 0.5) !important;
    }
  }

  &--small {
    font-size: 0.75em;
  }

  &__icon {
    fill: #FFFFFF;
    vertical-align: middle;
    margin-right: em(5px, 14px);
  }
}
