.c-dropdown {

  &__toggle {
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
    flex: 0 0 auto !important;

    &--secondary {
      background-color: $color-secondary !important;
      border-color: $color-secondary !important;

      &:hover {
        background-color: darken($color-secondary, 5%) !important;
        border-color: darken($color-secondary, 5%) !important;
      }

      &:active,
      &:focus {
        background-color: darken($color-secondary, 10%) !important;
        border-color: darken($color-secondary, 10%) !important;
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba($color-secondary, 0.5) !important;
      }
    }
  }

  &__item {
    font-family: $font-primary;
    font-size: em(14px);
  }
}
