$color-secondary: #354755;

.PayPal {
  margin-bottom: 1.25em;
  width: 100%;

  &.Hide {
    display: none;
  }

  :global(.paypal-buttons) {
    display: block !important;
  }
}

.Loading {
  color: $color-secondary;
  background-color: #F7F6F3;
  border-radius: 0.222em;
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125em;
  font-style: italic;;
  font-weight: 700;
  margin-bottom: 1.25em;
  padding: 0.778em 1.111em;
  text-align: center;

  &.Show {
    display: block;
  }
}
