@import "../../sass/variables.scss";
@import "../../sass/functions.scss";

.VideoRecorder {
  background-color: white;
  padding: em(20px);

  .Error {
    color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-primary;
    font-size: em(14px);
    line-height: 1em;
    margin-bottom: em(20px, 14px);

    .Icon {
      fill: $color-primary;
      flex: 0 0 em(20px, 14px);
      margin-right: em(10px, 14px);
    }
  }

  .Info {
    text-align: center;
    margin-bottom: em(20px, 14px);
  }

  .Video {
    display: block;
    margin-bottom: em(20px);
    width: 100%;

    @media (min-width: $medium) {
      height: em(440px);
      margin-right: auto;
      margin-left: auto;
      max-width: em(780px);
    }
  }

  .Button {
    width: 100%;

    @media (min-width: $small) {
      width: auto;
    }
  }
}
