$color-secondary: #354755;

.Feedback {
  color: $color-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.750em;
  font-weight: 600;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  text-align: right;
}
