@import '../../../../sass/variables.scss';
@import '../../../../sass/functions.scss';

.Plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E0CDAF;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  text-align: center;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out,
              transform 0.3s ease-in-out;

  @media (max-width: 767px) {
    margin: 0 2.5em;
    width: auto;
  }

  &.Scale {

    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: scale(1.1);
      z-index: 2;
    }
  }

  &.isActive {
    background-color: $color-primary;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: em(40px);
    padding-bottom: em(80px);
    position: relative;

    @media (max-width: 767px) {
      margin-right: 0;
      margin-left: 0;
    }

    &.Scale {

      &:hover {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
      }
    }

    .Type,
    .Price,
    .Paragraph {
      color: white;
    }

    .Type {
      font-size: 1.125em;
    }

    .Price {
      font-size: 3em;
      margin-bottom: 0.833em;

      .Recurrence {
        font-size: em(32px, 48px);
        font-weight: 700;
      }
    }

    .Paragraph {
      font-weight: 600;
    }
  }

  .Type,
  .Price,
  .Paragraph {
    color: $color-secondary;
    font-family: 'Montserrat', sans-serif;
  }

  .Type {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .Discount {
    color: white;
    font-size: em(28px);
    font-weight: 600;
    line-height: 120%;
    margin-top: em(6px, 28px);
    margin-bottom: em(-16px, 28px);
    text-transform: uppercase;
  }

  .Price {
    font-size: em(48px);
    font-weight: 700;
    margin-top: em(20px, 48px);
    margin-bottom: 1.25em;
    text-transform: uppercase;

    &.Was {
      font-weight: 400;
      margin-top: 0;
      margin-bottom: em(15px, 48px);
      position: relative;

      &::before,
      &::after {
        content: "";
        background-color: $color-secondary;
        display: block;
        height: 9px;
        margin-left: -40px;
        position: absolute;
        left: 50%;
        width: 80px;
      }

      &::before {
        top: 24px;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 24px;
        transform: rotate(135deg);
      }
    }

    .Recurrence {
      display: block;
      font-size: em(21px, 48px);
      font-weight: 400;
    }
  }

  .Description {
    margin-bottom: 1.25em;
    height: 100%;
  }

  .Paragraph {
    margin-bottom: 0;
    padding-right: em(15px);
    padding-left: em(15px);

    &:not(:last-child) {
      margin-bottom: em(2px);
    }
  }
}
