$color-primary: #BF9456;
$color-secondary: #354755;

.Dialog {

  .Header {
    padding: 0.938em 1.25em;

    :global(.close) {
      padding: 0.938rem;
      margin: -0.938rem -0.938rem -0.938rem auto;
    }

    .Title {
      color: $color-primary;
      font-family: 'Playfair Display', serif;
      font-size: 2em;
      font-weight: 700;
      margin-bottom: 0;
      text-align: center;
    }
  }

  .Body {
    padding: 1.25em;

    h4 {
      color: $color-secondary;
      font-family: 'Playfair Display', serif;
      font-size: 1.25em;
      font-weight: 700;
      margin-bottom: 0.5em;
    }

    ul li,
    p {
      color: $color-secondary;
      font-family: 'Montserrat', sans-serif;
    }
  }
}
