@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.SelectedFotografia {
  background-color: white;
  padding: em(20px);

  &.IsFile {

    @media (min-width: $small) {
      display: flex;
      align-items: center;
      height: em(60px);
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .Info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: em(20px);

    @media (min-width: $small) {
      margin-bottom: 0;
    }

    .Icon {
      fill: $color-primary;
      flex: 0 0 em(30px);
      margin-right: em(10px);
    }

    .Text {
      color: $color-secondary;
      font-family: $font-primary;
      font-size: em(14px);
      margin-right: em(10px, 14px);
    }
  }

  .Image {
    display: block;
    margin-bottom: em(20px);
    width: 100%;

    @media (min-width: $medium) {
      margin-right: auto;
      margin-left: auto;
      max-width: em(480px);
    }
  }

  .Button {
    width: 100%;

    @media (min-width: $small) {
      width: auto;
    }
  }
}
