@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.MiHistoriaLegado {

  .Header {
    background-image: url(../../../assets/images/mi-historia-legado.jpg);
    background-size: cover;
    background-position: center center;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: em(320px);

    .Title,
    .Subtitle {
      color: white;
      text-align: center;
    }

    .Title {
      font-family: $font-secondary;
      font-size: em(72px);
      font-weight: 700;
      margin-bottom: 0;
    }

    .Subtitle {
      font-family: $font-primary;
      font-size: em(22px);
      font-weight: 600;
      margin-bottom: em(20px, 22px);
      text-transform: uppercase;
    }
  }

  .Download {
    display: table;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .LogoContainer {
    background-color: $color-secondary;
    padding: em(20px) em(10px);

    .Logo {
      display: block;
      height: em(100px);
      margin-right: auto;
      margin-left: auto;
    }
  }

  .Copyright {
    color: white;
    background-color: $color-primary;
    font-family: $font-primary;
    font-size: em(16px);
    font-weight: 400;
    padding: em(18px) em(10px);
    text-align: center;

    .Link {
      color: white;
      font-weight: 600;
      text-decoration: none;
      transition: color 0.15s ease-in-out;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}
