@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.MensajePostumo {

  .LogoContainer {
    background-color: $color-secondary;
    padding: em(20px) em(10px);

    .Logo {
      display: block;
      height: em(100px);
      margin-right: auto;
      margin-left: auto;
    }
  }

  .Copyright {
    color: white;
    background-color: $color-primary;
    font-family: $font-primary;
    font-size: em(16px);
    font-weight: 400;
    padding: em(18px) em(10px);
    text-align: center;

    .Link {
      color: white;
      font-weight: 600;
      text-decoration: none;
      transition: color 0.15s ease-in-out;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}
