@import '../../../../sass/variables.scss';
@import '../../../../sass/functions.scss';

.FormRange {
  background-color: white;
  border: 1px solid #C7D2DC;
  border-radius: em(5px);
  padding: em(20px);

  .Label {
    background-color: $color-secondary;
    border-radius: em(5px, 14px);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    font-family: $font-primary;
    font-size: em(14px);
    line-height: em(14px, 14px);
    justify-content: center;
    height: em(25px, 14px);
    margin-bottom: em(12px, 14px);
    position: relative;
    width: em(25px, 14px);

    &::before {
      border-top: em(8px, 14px) solid $color-secondary;
      border-right: em(4px, 14px) solid transparent;
      border-left: em(4px, 14px) solid transparent;
      content: "";
      height: 0;
      margin-left: em(-4px, 14px);
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
    }
  }

  .Range {
    appearance: none;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      background: #C7D2DC;
      border: 0;
      border-radius: em(6px);
      box-shadow: none;
      cursor: pointer;
      height: em(15px);
      width: 100%;
    }

    &::-moz-range-track {
      background: #C7D2DC;
      border: 0;
      border-radius: em(6px);
      box-shadow: none;
      cursor: pointer;
      height: em(15px);
      width: 100%;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      background: $color-secondary;
      border: 0;
      border-radius: em(25px);
      box-shadow: none;
      cursor: pointer;
      height: em(25px);
      margin-top: em(-5px);
      width: em(25px);
    }

    &::-moz-range-thumb {
      appearance: none;
      background: $color-secondary;
      border: 0;
      border-radius: em(25px);
      box-shadow: none;
      cursor: pointer;
      height: em(25px);
      margin-top: em(-5px);
      width: em(25px);
    }
  }
}
