@import '../../../../sass/variables.scss';
@import '../../../../sass/functions.scss';

.SelectColumnFilter {
  color: $color-secondary;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: em(14px);
  font-weight: 400;
  position: relative;
  white-space: nowrap;

  select {
    color: $color-secondary;
    border: 1px solid #C7D2DC;
    border-radius: em(32px, 14px);
    display: block;
    height: em(32px, 14px);
    margin-left: em(10px, 14px);
    outline: none;
    padding-right: em(15px, 14px);
    padding-left: em(15px, 14px);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;

    &:focus {
      border-color: lighten($color-secondary, 25%);
      box-shadow: 0 0 0 0.2rem rgba($color-secondary, 0.5);
    }
  }
}
