@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.VideoDownloader {
  background-color: white;
  border: 1px solid #C7D2DC;
  border-radius: em(5px);
  padding: em(20px);

  .Video {
    display: block;
    margin-bottom: em(20px);
    width: 100%;

    @media (min-width: $large) {
      height: em(440px);
      margin-right: auto;
      margin-left: auto;
      max-width: em(780px);
    }
  }

  .Download,
  .Remove {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Remove {
    margin-top: em(20px, 14px);
  }
}
