@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.Paragraph {
  color: $color-secondary;
  font-family: 'Montserrat', sans-serif;
  font-size: em(14px);
  font-weight: 400;
  margin-bottom: 0;

  &.Title {
    color: $color-primary;
    font-size: em(16px);
    margin-bottom: em(30px);
    font-weight: 600;
  }

  &.MarginBottom {
    margin-bottom: 1.429em;
  }

  &.Center {
    text-align: center;
  }
}
